body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f9;
}

header {
  background: #1e3c72;
  color: white;
  padding: 15px;
  text-align: center;
}

.logo {
  width: 90px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

.event-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  transition: transform 0.3s;
}

.event-card:hover {
  transform: translateY(-10px);
}

.folder-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.folder {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 22px;
  transition: 0.3s;
}

.folder:hover {
  background: #1e3c72;
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 15px;
  padding: 20px;
}

.photo-card img {
  width: 100%;
  border-radius: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}



.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0%;
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #6c18ff;
}


.download-all-btn {
    background-color: #007bff; /* DodgerBlue in W3Schools example */
    border: none;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; /* Remove default link underline */
    display: inline-block;
    border-radius: 4px;
}

.download-all-btn:hover {
    background-color: #0056b3; /* A darker blue on hover */
}
